@import "variables";

.bbd-card-container{
    display: flex;
    flex-flow: row wrap;
    .bbd-card {
        max-width: 200px;
        margin: 1rem;
        .bbd-card-image {
            margin-bottom: 0;
        }
        .bbd-avatar-container {
            margin-top: -25px;
            .mat-card-avatar {
                height: 55px;
                width: 55px;
            }
        }
        .bbd-align-left {
            text-align: left;
        }
        .bbd-align-right {
            text-align: right;
        }
        .mat-card-actions {
            border-top: 1px solid $grey1;
            .bbd-share-icon {
                color: $grey2;
                padding: 0 .15rem; //need to investigate em vs rem vs px
            }
        }
    }
}
