<p>
  bookmark-card works!
</p>
<div class="bbd-card-container">
  <mat-card class="bbd-card" *ngFor="let indx = index;let bookmarkCard of bookmarkCards | filter: query">
    <a href="{{bookmarkCard.url}}">
      <img mat-card-image src="{{bookmarkThumbnails[indx]}}" alt="Photo of a Shiba Inu" class="bbd-card-image">
      <div class="bbd-avatar-container">
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" class="mat-card-avatar">
      </div>
      <mat-card-content>
        <p class="bbd-align-left">
          {{bookmarkCard.title}}
        </p>
        <p class="bbd-align-left">
          {{bookmarkCard.category}}
        </p>
        <p class="bbd-align-left">
          {{bookmarkCard.url}}
        </p>
      </mat-card-content>
      <mat-card-actions class="bbd-align-right">
        <a href="">
          <fa name="facebook" class="bbd-share-icon"></fa>
        </a>
        <a href="">
          <fa name="twitter" class="bbd-share-icon"></fa>
        </a>
        <a href="">
          <fa name="linkedin" class="bbd-share-icon"></fa>
        </a>
      </mat-card-actions>
    </a>
  </mat-card>

</div>